*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;color: black;}
/*    point : rgb(237,125,49);  */
/*    main : rgb(220,218,218);  */
/*    sub : rgb(249,230,177);  */
/* font-family: 'Black Han Sans'; */
/* font-family: 'NotoSansKR'; */



/* *************** header ******************** */


.header{
    position: relative;
    width: 100%;
    height: 50px;
    position: relative;
}

#lnb_chk{
    display: none;
}

#lnb_chk:checked ~ .label .open_chk{display: block;}
#lnb_chk ~ .label .open_chk{display: none;}

#lnb_chk:checked ~ .label .close_chk{display: none;}
#lnb_chk ~ .label .close_chk{display: block;}

#lnb_chk:checked ~ .lnb_menu{display: block;}
#lnb_chk ~ .lnb_menu{display: none;}

.lnb_menu{
    position: fixed;
    /* 화면에 꽉 채우기 위해 absolute에서 변경 */
    top: 50px;
    background-color: rgb(249,230,177,50%);
    width: 50%;
    height: 100%;
    padding-left: 2%;
}

.lnb_menu li{
    font-family: 'NotoSansKR';
    font-weight: bold;
    height: 50px;
    line-height: 50px;
}

.label{
    float: left;
    width: 15%;
    height: 50px;
    line-height: 50px;
}

.logo{
    float: left;
    width: 60%;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.logo img{
    width: 50%;height: 100%;
}

.side_menu{
    float: right;
    position: absolute;
    width: 25%;
    right: 0;
    font-family: 'Black Han Sans';
}

.side_menu li{
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
}

.side_menu li:nth-child(1){
    margin-right: 5%;
}

