*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;color: black;}
/*    point : rgb(237,125,49);  주황*/
/*    main : rgb(220,218,218);  연그레이*/
/*    sub : rgb(249,230,177);  노랑*/
/* font-family: 'Black Han Sans'; */
/* font-family: 'Gowun Batang'; */
/* font-family: 'Gowun Dodum'; */
/* font-family: 'NotoSerifKR'; */
/* 보더라인: rgba(177, 175, 175, 0.568); */


/* *************** header ******************** */


.header{
    position: relative;
    width: 100%;
    height: 50px;
    position: relative;
    border-bottom: 1px solid rgb(220,218,218);;
}

#lnb_chk{
    display: none;
}

#lnb_chk:checked ~ .label .open_chk{display: block;}
#lnb_chk ~ .label .open_chk{display: none;}

#lnb_chk:checked ~ .label .close_chk{display: none;}
#lnb_chk ~ .label .close_chk{display: block;}

#lnb_chk:checked ~ .lnb_menu{display: block;}
#lnb_chk ~ .lnb_menu{display: none;}

.lnb_menu{
    position: fixed;
    /* 화면에 꽉 채우기 위해 absolute에서 변경 */
    top: 51px;
    background-color: rgba(249, 230, 177);
    width: 100%;
    height: 100%;
    z-index: 9999;  
}

.lnb_menu li{
    font-family: 'Gowun Dodum';
    font-weight: bold;
    height: 70px;
    line-height: 70px;
    padding-left: 5%;
}

.lnb_menu li:last-child{
    border-bottom: 1px solid rgb(220,218,218);;
}

.label{
    float: left;
    width: 10%;
    height: 50px;
    line-height: 60px;
    text-align: center;
}

.logo{
    float: left;
    width: 70%;
    height: 50px;
    text-align: center;
}

.logo img{
    height: 100%;
}

.side_menu{
    width: 110px;
    position: absolute;
    right: 0;
}

.side_menu li{
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
}


.side_menu li:nth-child(1){
    margin-right: 40px;
    animation: motion 0.25s linear 0s infinite alternate;
}

@keyframes motion {
	0% {margin-top: 0px;} 
	100% {margin-top: 5px;}
  }





/* *************** visual_main ******************** */

.visual_main{
    position: relative;
    height: auto;
}


.visual_main img{
    width: 100%;
}

  .visual_main .slick-arrow{
    border: none;
    font-size: 0;
    visibility: hidden;
}  
 

.visual_main .slick-prev::before{
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    visibility: visible;
    position: absolute;
    top: 41%;
    left: 10px;
    z-index: 1;
    font-size: 30px;
}

.visual_main .slick-next::before{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    visibility: visible;
    position: absolute;
    top: 41%;
    right: 10px;
    z-index: 1;
    font-size: 30px;
}

/* *************** content ******************** */


.content h2{
    border-left: 10px solid rgb(237,125,49);
    margin-bottom: 10px;
}

.content li{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}