*{margin: 0;padding: 0;}

.box{
    width: 100%;height: 100px;
}

.box01{background-color: yellow;}
.box02{background-color: red;}


/* screen, print, all, only */
@media only screen and (min-width:321px) and (orientation:landscape){
    .boxA{overflow: hidden;}
    .boxA .box{
        width: 50%;
        float: left;
    }
} 